<nav class="navbar navbar-expand-md navbar-light bg-White">
  <a class="navbar-brand" href="#">MaximaTech</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="dpCadastros" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Cadastro</a>
        <div class="dropdown-menu" aria-labelledby="dpCadastros">
          <a class="dropdown-item" href="#">Clientes</a>
          <a class="dropdown-item" href="#">Produtos</a>
        </div>
      </li>
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="dpPedidos" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pedido</a>
        <div class="dropdown-menu" aria-labelledby="dpPedidos">
          <a class="dropdown-item" href="#">Novo pedido</a>
          <a class="dropdown-item" href="#">Consultar pedido</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
